<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="files/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="files/favicon.ico" type="image/x-icon" />
    <title>Typescript OpenLayers</title>
</head>

<body>
    <h1>Openlayers mit Typescript</h1>    
    <input type="text" id="suchText" value="">    
    <input type="button" id="ortsuchen" value= " Suchen "></input>
    <div id="suchergebnisse" style=" margin-left: 20px; margin-bottom: 10px;"></div>
    <div id="map" class="map"></div>
    <p>
        <input id="printMap" type="button" class="btn btn-default" value="Karte in Foto speichern" />
    </p>
</body>

</html>